body {
    background-color: lightpink;
  }
  
  .card {
    border: 2px solid grey;
    margin: 2em;
    width: 400px;
  }

  .img{
      width: 400px;
      height: 600px;
  }

  .row{
    display: inline-flex;
    justify-content: center;
  }
